extends base.pug

block scripts 
  //- script(src='/static/index.js')

block style 
    style 
      include ../static/style.css
      include ../static/events.css

block content 
    section#introsection
              div Welcome to Zingat Academy
              div.small Events Section